"Plugins"
{
	"Value"
	{
		"1" "article"
		"2" "plugin"
		"3" "adminv2"
		"4" "dialog"
		"5" "settings"
		"6" "register"
		"7" "profile"
		"8" "eshop"
		"9" "eshop-gopay"
		"10" "crypto2"
	}
	"Protect" ""
}
"LogMysql"
{
	"Value" "FALSE"
}
"Compress"
{
	"Value" "TRUE"
}
"CompressChunk"
{
	"Value" "16000"
}
